.*
!.git*
_*

results/*

!results/dms_data
results/dms_data/*
!results/dms_data/prot.fa
!results/dms_data/phenotypes.csv

!results/usher_prebuilt
results/usher_prebuilt/*
!results/usher_prebuilt/version_info.txt

!results/usher_prots_w_dms
results/usher_prots_w_dms/*
!results/usher_prots_w_dms/seq_phenotypes.tsv
